<div id="wrapper">

    <%= render partial: "sticky/mainMenu" %>
    <%= render "sticky/pageHeader", name: "Board" %>

    <div class="col-md-8 col-md-offset-2">
        <section>
            <div class="container">
        					<h4> <%= @sch.title %> </h4>
        					<div class="table-responsive">
        						<table class="table table-bordered table-vertical-middle">
        							<thead>
        								<tr>
        									<th>프로필</th>
        									<th>이름</th>
        									<th>Ratings</th>
        									<th>누적 출석률</th>
        									<th>출석 체크</th>
        								</tr>
        							</thead>
        							<tbody>
                                    <%# @sch.users.each do |user|%>
                                    <% @sch.atts.each do |att|%>
        								<tr>
        									<td class="text-center"><img src="assets/images/male.png" alt="" width="20"></td>
                                        <td><%= att.user.name %></td>
                                        <td><div class="rating rating-0 size-13 width-100"><!-- rating-0 ... rating-5 --></div></td>
        									<td>
        										<div class="progress progress-xxs margin-bottom-0">
        											<div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; min-width: 2em;">
        												<span class="sr-only">80% Complete</span>
        											</div>
        										</div>
        									</td>

                                            <% if att.status == true%>
                                            <td>
                                                <a href="<%=url_for(controller: :att, action: :update, id: att.id)%>" >
                                                    <span class="label label-success"><%= att.status %></span>
                                                </a>
                                            </td>
                                            <% else %>
                                            <td>
                                                <a href="<%=url_for(controller: :att, action: :update, id: att.id)%>" >
                                                    <span class="label label-danger"><%= att.status %></span>
                                                </a>
                                            </td>

                                        </tr>
                                        <%end%>
                                        <%#end%>
                                    <%end%>
        							</tbody>
        						</table>
        					</div>
        </section>

    </div>
</div>

        <%= render partial: "sticky/footer" %>
        <%= render partial: "script"%>
